<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hackathon">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ClinicActivity"
            android:exported="false"
            android:label="@string/title_activity_clinic"
            android:theme="@style/Theme.Hackathon" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:label="@string/title_activity_reports"
            android:theme="@style/Theme.Hackathon" />
        <activity
            android:name=".ResourcesActivity"
            android:exported="false"
            android:label="@string/title_activity_resources"
            android:theme="@style/Theme.Hackathon" />
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:label="@string/title_activity_scan"
            android:theme="@style/Theme.Hackathon" />

        <activity
            android:name=".ArticleActivity"
            android:exported="false"
            android:label="@string/title_activity_article"
            android:theme="@style/Theme.Hackathon" />

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Hackathon" />
        <activity
            android:name=".ResourceDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_resource_details"
            android:theme="@style/Theme.Hackathon" />
        <activity
            android:name=".ResourceListActivity"
            android:exported="false"
            android:label="@string/title_activity_resource_list"
            android:theme="@style/Theme.Hackathon" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>